{% extends "layout.html" %}

{% block head %}

    <title>Sobre</title>

{% endblock %}

{% block content %}

    <div id="wrapper">
        <img src="https://avatars3.githubusercontent.com/u/11745960?s=460&u=41ee2ea5a18ab45724d8b87d63acdea2893d8c82&v=4" alt="Lucas Pedroso">
        <h1>Lucas Pedroso</h1>
        <h2>Estudante Full Stack</h2>
        <p>Cursando o Bootcamp LaunchBase da
            <a href="https://rocketseat.com.br" target="_blank">Rocketseat</a>
        </p>
    </div>

    <div id="links-footer" class="links">
        <a href="https://github.com/LSP-Lucas" target="_blank">Github</a>
        <a href="https://www.linkedin.com/in/lucas-da-silva-pedroso-0b4420191/" target="_blank">Linkdin</a>
    </div>

{% endblock %}