{% extends "layout.njk" %}

{% block head %}

    <title>items</title>
    <link rel="stylesheet" href="/conteudos.css">

{% endblock %}

{% block content %}

    <header>
        <div>
            <a href="/">
                <i class="material-icons">chevron_left</i>
            </a>
            <img src="img/logo-rocketseat.svg" alt="Rocketseat" width="51px" height="36px">
            <span>Rocketseat</span>
        </div>
    </header>

    <section class="courses">

        {% for item in items %}
            <div class="course" id="{{ item.id }}">
                <div class="course-image">
                    <img src="{{ item.img }}" alt="{{ item.id }}">
                </div>
                <div class="info">
                    <p>{{ item.description }}</p>
                </div>
                <div class="value">
                    <p>{{ item.price }}</p>
                </div>
            </div>
        {% endfor %}

    </section>

    {# <div class="modal-overlay">
        <div class="modal">
            <a class="maximize-modal">
                <i class="material-icons">open_in_full</i>
            </a>

            <a class="close-modal">
                <i class="material-icons">close</i>
            </a>

            <div class="modal-content">
                <iframe src="" frameborder="0"></iframe>
            </div>
        </div>
    </div> #}

    <script src="scripts.js"></script>

{% endblock %}