{% extends "layout.njk" %}

{% block head %}
    <title>Home</title>
    <link rel="stylesheet" href="/styles.css">
{% endblock head %}

{% block content %}

<header>
    <div>

        <a href="{{ index.comunidade }}" target="_blank">{{ index.name}}</a>

        {% for items in index.header %}
            <a href="{{ items.url }}">{{ items.name }}</a>
        {% endfor %}

    </div>
</header>

<main>
    <div>
        <img src="/img/trofeu-home.svg" alt="Troféu">
    </div>

    <div>
        <h1>{{ index.title }}</h1>
        <h2>{{ index.users }}</h2>
        <p>{{ index.description }}</p>
    </div>
</main>

{% endblock %}

{% block footer %}

<footer>
    <div>
        <span>{{ index.redes }}</span>

        {% for link in index.links %}
            <a href="{{ link.url }}" target="_blank"><img src="{{ link.img }}" alt="{{ link.name }}"></a>
        {% endfor %}

    </div>
</footer>

{% endblock footer %}

