{% extends "layout.njk" %}

{% block head %}
    <title>Page not-found</title>
    <link rel="stylesheet" href="/not-found.css">
{% endblock head %}

{% block content %}

<header>
    <div>
        <a href="https://discordapp.com/invite/gCRAFhc" target="_blank">Comunidade</a>
        <a href="mailto:oi@rocketseat.com.br">Email</a>
        <a href="tel:+5547992078767">Telefone</a>
        <a href="/conteudos">Conteúdos</a>
        <a href="/sobre">Sobre</a>
    </div>
</header>

<main>

    <div>
        <h1>Infelizmente essa página não foi encontrada!</h1>
        <img src="/img/triste.svg" alt="Emoje apreensivo">
    </div>

</main>

{% endblock %}

{% block footer %}

<footer>
    <div>
        <span>Siga-nos nas redes sociais</span>
        <a href="https://github.com/Rocketseat" target="_blank"><img src="img/logotipo.svg" alt="Github"></a>
        <a href="http://fb.com/rocketseat" target="_blank"><img src="img/facebook.svg" alt="Facebook"></a>
        <a href="http://instagram.com/rocketseat_oficial" target="_blank"><img src="img/instagram-esbocado.svg"
                alt="Instagram"></a>
    </div>
</footer>

{% endblock footer %}

