{% extends "layout.njk" %}

{% block head %}

<title>Sobre</title>

<link rel="stylesheet" href="/styles-sobre.css">

{% endblock %}

{% block content %}

<header>
    <div>
        <a href="/">
            <i class="material-icons">chevron_left</i>
        </a>
        <img src="img/logo-rocketseat.svg" alt="Rocketseat" width="51px" height="36px">
        <span>Rocketseat</span>
    </div>
</header>

<section id="sobre">
    <div class="content">
        <div>
            <h1>{{ sobre.title }}</h1>
            <p>{{ sobre.description }}</p>
        </div>
        <img src="img/melhores-tecnologias.svg" alt="As melhores tecnologias">
    </div>
</section>

<section id="tecnologias">
    <h1>Principais Tecnologias Utilizadas</h1>
    <div id="content">
        <div>
            <ul>
                {% for tecBase in sobre.tecBases %}
                    <li>{{ tecBase.name }}</li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <ul>
                {% for tecAvancada in sobre.tecAvancadas %}
                    <li>{{ tecAvancada.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>

{% endblock %}

{% block footer %}

<section id="footer">
    <div>
        <span>{{ sobre.redes }}</span>

        {% for link in sobre.links %}
            <a href="{{ link.url }}" target="_blank"><img src="{{ link.img }}" alt="{{ link.name }}"></a>
        {% endfor %}

    </div>
</section>

{% endblock footer %}
